.flex-container{
    display: flex;
    flex-direction: row;
    background-color: #F7F7F7;
    justify-content: space-around;
    height: 25vh;
}

.img{
    height: 20vh;
}

.img2{
    height: 15vh;
}

.image{
    align-self: center;
}

.flex-container2{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    font-size: 2.2vh;
}

.flex-container3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.L1{
    color: black;
    font-size: 2.7vh;
    font-weight: bold;
}

.L2{
    color: black;
    font-size: 2.4vh;
    font-weight: normal;
}

.L3{
    color: black;
    font-size: 2.4vh;
    font-weight: lighter;
}
