.flex-container1{
    display: flex;
    flex-direction: row;
    background-color:  #F7F7F7;
    height: 25vh;
    padding-left: 5vh;  
}
.img{
    height: 20vh;
}
.image{
    align-self: center;

}
.flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:2.2vh;
}
.L1{
    color: #0E157C;
    font-size: 5vh;
    font-weight: normal;
    
}
.L2{
     color: black;
     font-size: 3vh;
     font-weight: bold;   
}
.L3{
     color: black;
     font-size: 4vh;
     font-weight: lighter;

}

@media all and (max-width: 91.3vh){
    .flex-container1{
        padding-left: 0vh;
    }
    .L1{
        
        font-size: 3.5vh;
    }
    .L2{
        font-size: 2.5vh;
    }
    .L3{
        
        font-size: 3vh;
    }
    .img{
        height: 15vh;
    }
}