.authors{
    background-color: #d9e2ec;
    margin-bottom: -60vh;
}

.headerAuthors{
    color: #0E157C;
    font-size: 5vh;
    padding-left: 2vh;
}

.datesAuthors{
    font-size: 4vh;
    margin-left: 2vh;
}