.authors{
    background-color: #d9e2ec;
}

.headerAuthors{
    color: #0E157C;
    font-size: 5vh;
    padding-left: 2vh;
}

.datesAuthors{
    font-size: 4vh;
    margin-left: 2vh;
}

@media all and (max-width: 91.3vh){
    .headerAuthors{
        font-size: 4vh;
    }
    .datesAuthors{
        font-size: 3vh;
        margin-left: 1vh;
    }
}